* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(185, 177, 99);
}
li,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}
header {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
h1 {
  cursor: pointer;
}
h1:hover {
  text-shadow: 1px 2px 3px #666;
}
.box-wrap {
  list-style: none;
  transition: all 0.5 ease 0s;
  animation: move 2s 1;
}
.box-wrap li {
  display: inline-block;
  padding: 0px 20px;
}
.box-wrap li a:hover {
  text-shadow: 1px 2px 3px #666;
}
.style {
  padding: 9px 25px;
  background-color: rgb(69, 75, 62);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5 ease 0s;
  color: rgb(255, 255, 255);
}
.style:hover {
  background-color: cornflowerblue;
}
img {
  opacity: 1;
  /* padding-top: 10px; */
  width: 70vh;
  object-fit: fill;
  border: 2px solid black;
}
@keyframes move {
  50% {
    transform: translateY(100px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
  25% {
    transform: translateY(-25px);
    opacity: 0.5;
  }
}
.surf {
  width: 15vh;
}
.aside {
  width: 60%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #990411;
  font-style: italic;
  color: #000000;
}
.aside > p {
  margin: 0.5rem;
}
.big {
}

.text {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
